[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
charset = utf-8-bom
indent_style = tab
indent_size = 4
csharp_indent_labels = one_less_than_current

[*.csproj]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
